annotated-types==0.7.0
asttokens==0.28.0
attrs==25.3.0
blosc2==2.7.1
certifi==2025.1.31
chaco==6.0.0
charset-normalizer==3.4.1
coloredlogs==15.0.1
comm==0.2.1
conda-pack==0.9.0
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
debugpy==1.8.1
decorator==5.1.1
enable==6.0.0
exceptiongroup==1.2.0
executing==2.0.1
flatbuffers==25.2.10
flowtracks==1.0
fonttools==4.56.0
humanfriendly==10.0
idna==3.10
imagecodecs==2024.12.30
imageio==2.37.0
importlib_metadata==7.0.1
iniconfig==2.1.0
ipykernel==6.29.3
ipython==8.22.2
jedi==0.19.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.8
lazy_loader==0.4
llvmlite==0.44.0
matplotlib==3.10.1
matplotlib-inline==0.1.6
mpmath==1.3.0
msgpack==1.1.0
ndindex==1.9.2
nest_asyncio==1.6.0
networkx==3.4.2
numba==0.61.0
numexpr==2.10.2
numpy==1.26.4
optv==0.3.0
opencv-python-headless==4.11.0.86
packaging==23.2
pandas==2.2.3
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.1.0
platformdirs==4.2.0
pluggy==1.5.0
pooch==1.8.2
prompt_toolkit==3.0.43
protobuf==6.30.1
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.2
py-cpuinfo==9.0.0
pydantic==2.5.3
pydantic_core==2.14.6
pyempaq==0.6.0
pyface==8.0.0
Pygments==2.17.2
PyMatting==1.1.13
pyparsing==3.2.1
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
pytest==8.3.5
python-dateutil==2.8.2
pytz==2025.1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.36.2
rembg==2.0.65
requests==2.32.3
rpds-py==0.23.1
scikit-image==0.25.2
scipy==1.15.2
shiboken6==6.8.2.1
six==1.16.0
stack_data==0.6.3
sympy==1.13.3
tables==3.10.1
tifffile==2025.3.13
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.1
traits==7.0.2
traitsui==8.0.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.13
zipp==3.19.1
